body{
    background-color: black;
    
   
}

.BRAIN {
    position:absolute;
    padding: 20px;
    top:150px;
    left:700px;
    width: 450px; 
    background-color:  green;
    animation-name: b;
    animation-duration: 2s;}
    @keyframes b {
        from {width: 0px;}
        to {width:450px;}
      }
    


.MUSCLE {
    width: 250px; 
    background-color:
    #2196F3;
    padding: 20px;
    top:250px;
    position:absolute;
    left:700px;
    animation-name: m;
    animation-duration: 2s;}
    @keyframes m{
        from {width: 0px;}
        to {width: 250px;}
      }


.TECH{
    width: 325px; 
    background-color: 
    #f44336;
    padding: 20px;
    top:350px;
    position:absolute;
    left:700px;
    animation-name: t;
    animation-duration: 2s;}
    @keyframes t {
        from {width: 0px;}
        to {width: 325px;}
      }


.POWER{
    
   
    background-color: 
    #808080;
    padding: 20px;
    top:450px;
    position:absolute;
    left:700px;
    width: 400px;
    animation-name: p;
    animation-duration: 2s;}
    @keyframes p {
        from {width: 0px;}
        to {width: 400px;}
      }
   h1{
       
       color: white;
       position: absolute;
       top:700px;
       width:1300px;
   }
   .matter1{
    position: absolute;
    top: 800px;
    left:700px;
    width: 300px;
    height: 200px;
    border: 5px solid red;
    padding: 120px;
    margin: 5px;
    text-align: center ;
    color: white;
   }
   iframe{
    top:1350px;
    left:400px;
    position: absolute;
    border:5px solid red;

} 



   
